<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body onload="flash()">
  <header>
    <%- include('../partials/header') %>
  </header>

  <main class="content container mt-3">
    <div class="container">
      <%- messages() %>
    </div>
    <%- body %>
    <!-- This is where the content of each view will be injected -->
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
<script src="/js/general.js"></script>

</html>