<div class="container mt-5">
  <h1 class="text-center mb-4"><%- title %></h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% recipes.forEach(recipe => { %>
    <div class="col">
      <div class="card recipe-card shadow-sm">
        <a href="/cookbook/recipe/<%= recipe.id %>" class="text-decoration-none text-dark">
          <img src="<%= recipe.imageUrl %>" class="card-img-top" alt="Image of <%= recipe.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text">By <%= recipe.author %></p>
          </div>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</div>