<div class="container mt-5">
  <div id="grid-header" class="">
    <% if (locals.loggedin) { %>
    <button class="btn btn-primary my-auto shadow-none" type="button" accountId='<%- JSON.stringify(locals.accountData.id) %>' onclick="toggleMyRecipes(this)">My Recipes Only</button>
    <% } %>
    <h1 class="text-center mb-4"><%- title %></h1>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-4">
    <% if (recipes.length == 0) { %>
    <div class="container mt-4">
      <p class="mx-auto">Sorry, we couldn't find anything that matched your search.</p>
    </div>
    <% } else { %>
    <% recipes.forEach(recipe => { %>
    <div user-id='<%= recipe.user_id %>' class="col recipe-card">
      <div class="card shadow-sm h-100">
        <a href="/cookbook/recipe/<%= recipe.id %>" class="text-decoration-none text-dark">
          <img src="<%= recipe.image_url %>" class="card-img-top" alt="Image of <%= recipe.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text">By <%= recipe.author %></p>
          </div>
        </a>
      </div>
    </div>
    <% })} %>
  </div>
</div>